@import '../_variables.scss';

.Cheat {
  margin: 4px 0px;
  margin-top: 10px;
  border: 1px solid $cmdBg;

  .desc {
    padding: 3px 10px;
    font-style: italic;
    font-size: 0.875em;
    text-align: left;
  }

  .command {
    cursor: pointer;
    padding: 3px 10px;
    font-family: 'Roboto Mono', sans-serif;
    background: $cmdBg;
    font-size: 0.938em;
    text-align: left;

    & > span:first-child {
      color: $colorGreyLight;
    }
  }
}
