@import '../_variables.scss';

.Cheat {
  margin: 4px 0px;
  margin-top: 10px;
  border: 1px solid $cmdBg;

  .desc {
    padding: 2px;
    font-style: italic;
    font-size: 0.875em;
  }

  .command {
    font-family: 'Roboto Mono';
    background: $cmdBg;
    padding: 2px;
    font-size: 0.938em;
  }
}
