@import '../_variables.scss';

.Group {
  margin: 10px;

  h2 {
    margin-bottom: 10px;
    font-weight: bold;
    background: $groupNameBg;
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 1em;
    text-transform: uppercase;
  }

  .new-command-wrapper {
    input {
      width: 100%;
    }

    input[name='newDescription'] {
      margin-left: 10px;
      width: calc(100% - 10px);
    }

    .new-command {
      font-family: 'Roboto Mono', sans-serif;
      padding-left: 10px;
      display: flex;
      align-items: center;
    }
  }

  .Plus {
    cursor: pointer;
    &:hover {
      background: $colorGreyBright;
    }

    svg {
      margin: 0 auto;
      display: block;
    }
  }
}
