@import './_variables.scss';

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400');

* {
  box-sizing: border-box;
}

html, body {
  font-family: $font;
}

select {
  font-family: $font;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
