$font: 'Encode Sans Expanded', sans-serif;

$primaryText: black;

$groupNameBg: #26C6DA;
$cmdBg: #F0F4C3;

$colorGreen: #558B2F;
$colorBlue: #1565C0;
$colorRed: #c62828;
$colorYellow: #F9A825;
$colorGrey: #424242;
$colorGreyLight: #8c8c8c;
$colorGreyBright: #d0d0d0;
$colorCyan: #00838F;
